.root {
    -fx-background-image: url("f1.png");//Se aplica al nodo ROOT de la escena ( ventana)
    -fx-background-size: stretch;
}

.button{
    //Relleno de boton
    -fx-background-color: rgb(255,228,225);
    -fx-background-radius: 7;
    -fx-border-color: rgb(255,228,225);
    -fx-border-radius: 7;
    -fx-padding: 3 6 3 6;
    
    //Letra
    -fx-text-fill: rgb(119,136,153);
    -fx-font: bolder italic 10pt "Calibri Light";
    -fx-effect: dropshadow( one-pass-box , whitesmoke , 11 , 0.0 , 3 , 3 );
}

.label{
    -fx-font: bold italic 11pt "Calibri Light";
    -fx-text-fill: rgb(175,238,238);
    -fx-effect: dropshadow( gaussian, lightgrey , 11 , 0.0 , 3 , 3 );
}

.text-field{
    -fx-background-color: rgb(250,235,215);
    -fx-background-radius: 5;
    -fx-border-color: rgb(175,238,238);
    -fx-border-radius: 5;
    -fx-effect: dropshadow( one-pass-box , whitesmoke , 11 , 0.0 , 3 , 3 );
}

.radio-button{
    -fx-font: bold italic 10pt "Calibri Light";
    -fx-text-fill: rgb(175,238,238);
    -fx-effect: dropshadow( gaussian , gray , 11 , 0.0 , 3 , 0 );
}

#boton-del{
    
    -fx-background-image: url("https://es.opensuse.org/images/b/be/Icon-trash.png");
    -fx-background-position: 12;
    -fx-graphic-text-gap: 0;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 15 3 0;
}

#boton-ins{
    -fx-background-image: url("http://icdn.pro/images/es/a/g/agregar-icono-4175-96.png");
    -fx-background-position: 12;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 15 3 0;
}

#boton-search{
    -fx-background-image: url("http://www.fancyicons.com/free-icons/124/search/png/256/search_15_256.png");
    -fx-background-position: 18;
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 3 18 3 0;
}

#lbl-flecha{
    -fx-background-image: url("arrow-left.png");
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#titulo{
    -fx-font: bold italic 20pt "juice ITC";
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian, lightgrey , 11 , 0.0 , 3 , 3 );
}